
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Todo List App <button mat-raised-button color="primary" (click)="visibleButton(true)" >Add New</button></mat-card-title>
    <mat-card-subtitle>manage todo list</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <md-content flex layout-padding>
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <p>
          <mat-card *ngIf="visible" class="box">
            <mat-card-header>
              <mat-card-title>Add Task</mat-card-title>
            </mat-card-header>
        
            <form (submit)="addTodo($event)" class="example-form">
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input matInput type="text" name="title"  [(ngModel)]="title" (keyup.enter)="title=''">
                </mat-form-field>
              </mat-card-content>
              <button mat-raised-button color="primary" [disabled]="title===''">Add Todo</button>
            </form>
          </mat-card>
        </p>
        </div>
      </md-content>
      <md-content flex layout-padding>
      <p class="example-full-width" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-full-width">
          <mat-card-content  class="example-full-width">
            <section class="col-6"  fxLayout="row">
              <mat-list role="list">
                <h2 class="example-h2">{{completed}}/{{this.length}} Items Completed</h2>
                <mat-list-item class="col-12" role="listitem" *ngFor="let todo of todos; let i=index" [ngClass]="{'hide': todo.completed}">
                  <div fxLayout="row" fxFlexFill>
                      <div fxFlex fxLayoutAlign="start center">
                        <mat-checkbox [ngClass]="{'checked': todo.completed}" class="example-margin col-6" (click)="updateCompleted(i)" [(ngModel)]="todo.completed" >
                          {{ todo.title }}
                        </mat-checkbox>
                      </div>
                     <div fxFlex  fxLayoutAlign="end center"></div>
                     <button class="col-6" mat-icon-button (click)="deleteTodo(todo.id)">
                      <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                  </div>
              </mat-list-item>
              </mat-list>
            </section>
            <section class="col-6"  fxLayout="row">
              <mat-list role="list">
                <h2 class="example-h2">{{completed}} Items Completed</h2>
                <mat-list-item role="listitem" *ngFor="let todo of todos; let i=index"  [ngClass]="{'hide': !todo.completed}">
                  <div [ngClass]="{'display': !todo.completed}">
                    <div fxLayout="row" fxFlexFill>
                      <div fxFlex fxLayoutAlign="start center">
                        <mat-checkbox [ngClass]="{'checked': todo.completed}" class="example-margin" (click)="updateCompleted(i)" [(ngModel)]="todo.completed" >
                        {{ todo.title }}
                        </mat-checkbox>
                      </div>
                      <div fxFlex  fxLayoutAlign="end center"></div>
                  <button mat-icon-button (click)="deleteTodo(todo.id)">
                    <mat-icon class="mat-24">delete</mat-icon>
                  </button>
                  </div>
                </div>
              </mat-list-item>
              </mat-list>
            </section>

          </mat-card-content>
        </mat-card>
      </p>
    </md-content>
      </div>
  </mat-card-content>
</mat-card>