<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Todo List App <button mat-raised-button color="primary" (click)="openDialog()">Add New</button></mat-card-title>
      <mat-card-subtitle>manage todo list</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<mat-card class="example-card">
    <mat-card-content>
      <div class="container">
        <mat-grid-list cols="4" rowHeight="4:4" gutterSize="10px">
            <mat-grid-tile *ngFor="let todo of todos; let i=index">
                <mat-card>
                    <img mat-card-image src="https://material.angularjs.org/latest/img/washedout.png" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="md-headline">{{todo.name}}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-actions>
                    <a routerLink="../../to-do/todo/{{todo._id}}"><button mat-button>View</button></a>
                    </mat-card-actions>
                </mat-card>
        </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card-content>
</mat-card>