<style>
    .box1 {
      border: solid 1px #006699;
      padding: 20px;
      background: #f3f3f3;
      border-radius: 5px;
    }
  
    .todos input.textfield {
      width: 480px;
      height: 36px;
      margin-right: 20px;
      font-size: 1.4em;
      vertical-align: top;
    }
  
    .todos input.checkbox {
      width: 20px;
      height: 20px;
    }
  
    .todos .checked {
      text-decoration: line-through;
    }
  
    .todos button {
      height: 36px;
      font-size: 1.1em;
      vertical-align: top;
      border: solid 1px #999;
      border-radius: 2px;
    }
  
    .todos .delete-icon {
      display: inline-block;
      cursor: pointer;
      color: red;
      text-align: right;
    }
    .display{
      display: none;
    }
    .alignleft{
      text-align: left;
      padding-left: 0;
    }
    .centeralign{
      text-align: right;
      padding-right: 5px;
    }
    ul{
      list-style-type:none;
      padding: 0;
    }
    .paddingleft{
      padding-left: 0;
    }
    .col-md-1 {
      flex: 0 0 8.333333%;
      max-width: 4%;
  }
  .btn-primary{
    font-size: 1.1em;
      vertical-align: top;
      border: solid 1px #999;
      border-radius: 16px !important;
      height: auto !important;
  }
  hr{
    border-top: 6px solid rgba(0, 0, 0, 0.1);
  }
  h2{
    width: 18%;
  }
  </style>
  <div class="container">
    <h2 contenteditable>My List Name</h2>
    <div class="todos">
  
      <div>
      <form *ngIf="visible" (submit)="addTodo($event)">
      <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo" />
        <button  type="submit" [disabled]="newTodo===''">Add Todo </button>
      </form>
      </div>
      <ul>
        <h4>{{completed}}/{{todos.length}} Items Completed</h4>
      <li  class="col-md-12" [ngClass]="{'display': todo.completed}" *ngFor="let todo of todos; let i=index">
        <div class="row">
        <div class="col-md-1 centeralign">
          <input type="checkbox" class="checkbox" (click)="updatecompleted(true)" [(ngModel)]="todo.completed" />
        </div>
      <div class="col-md-4 paddingleft">
        <span class="alignleft" [ngClass]="{'checked': todo.completed}" > {{ todo.newTodo }} </span>
      </div>
      <div class="col-md-6">
        <span (click)="deleteTodo(i)" class="delete-icon"> <i class="fa fa-times-circle-o" aria-hidden="true"></i>  </span>
      </div>
    </div>
        </li>
        <button type="button" (click)="visiblebutton(true)" class="btn btn-primary">Add New</button>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <hr>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        
        
        <ul>
          <h4>Completed Tasks {{completed}}</h4>
          <li  class="col-md-12" [ngClass]="{'display': !todo.completed}" *ngFor="let todo of todos; let i=index">
            <div class="row">
            <div class="col-md-1 centeralign">
              <input type="checkbox" class="checkbox" (click)="updatecompleted(false)" [(ngModel)]="todo.completed" />
            </div>
          <div class="col-md-4 paddingleft">
            <span class="alignleft" [ngClass]="{'checked': todo.completed}" > {{ todo.newTodo }} </span>
          </div>
          <div class="col-md-6">
            <span (click)="deleteTodo(i)" class="delete-icon"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
          </div>
        </div>
            </li>
          </ul>
  
    </div>
  </div>